/* CONTACT PAGE */

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
}

.contact-box {
    background: #1a1a1a;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.contact-box h2 {
    margin-bottom: 15px;
}

.contact-box p {
    color: #aaa;
    margin-bottom: 25px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    background: #222;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: 2px solid #00ff99;
}

.contact-form button {
    padding: 12px;
    background: #00ff99;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #00cc77;
}