* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
}

/* NAVBAR */
nav {
    background: #000000;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #000000;
}

/* HERO */
.hero {
    height: 25vh;
    background: linear-gradient(to right, #1f1f1f, #333);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero button {
    padding: 12px 30px;
    border: none;
    background: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 20px;
    
}

.hero button:hover {
    background: #0097a7;
}

/* PRODUCTS */
.products {
    padding: 50px;
    text-align: center;
}

.products h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0;
}

.price {
    color: #00bcd4;
    font-weight: bold;
    margin-bottom: 10px;
}

.card button {
    padding: 10px 15px;
    border: none;
    background: #111;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #00bcd4;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width: 768px){
    nav {
        flex-direction: column;
        gap: 10px;
    }
}